dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.5"
  - "3.5-dev"  # 3.5 development branch
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7"
  - "3.7-dev"  # 3.7 development branch
  - "3.8-dev"  # 3.8 development branch
#  - "nightly"  # nightly build
# command to install dependencies
matrix:
  include:
    - name: "Python 3.7.2 on macOS"
      os: osx
      osx_image: xcode10.2  # Python 3.7.2 running on macOS 10.14.3
      language: shell       # 'language: python' is an error on Travis CI macOS
install:
  - python3 -m pip install --upgrade pip
  - pip3 install -r requirements.txt
# command to run tests
script:
  - scrapy crawl unsplash  
  - python3 download.py